@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito, serif;
}

.login-page-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.login-page-container .image-section {
    position: relative;
    width: 60%;
    height: 100%;
}

.login-page-container .image-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-page-container .image-section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-page-container .login {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-page-container .login .form {
    text-align: center;
    width: 50%;
}

.login-page-container .login .form h1 {
    color: black;
    font-family: Nunito, serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
    display: inline-block;
    letter-spacing: 1px;
}

.login-page-container .login .form .input {
    position: relative;
    margin-bottom: 5px;
}

.login-page-container .login .form .input span {
    position: absolute;
    left: 0;
    pointer-events: none;
    margin-top: 18px;
    margin-left: 30px;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #A6A6A6;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
}

.login-page-container .login .form input:valid ~ span,
.login-page-container .login .form input:focus ~ span  {
    color: #A6A6A6;
    transform: translateX(10px) translateY(-25px);
    font-size: 0.65em;
    padding: 0 10px;
    background-color: white;
}

.login-page-container .login .form .input input {
    width: 90%;
    padding: 10px 10px;
    outline: none;
    font-weight: 400;
    border: 1px solid black;
    font-size: 16px;
    letter-spacing: 1px;
    color:black;
    background: transparent;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-page-container .login .form .input .form-input {
    background: #F5F5F5;
}

.login-page-container .login .form .input input[type="submit"] {
    padding: 0px 0px;
    font-size: 25px;
    margin-top: 20px;
    width: 60%;
    background: #0096FF;
    border: 1px solid transparent;
    color: #fff;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.login-page-container .login .form .input input[type="submit"]:hover {
    background: #69BFFC;
    border: 1px solid #0096FF;
}

.login-page-container .login .form .input p {
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
}

.login-page-container .login .form .input a {
    color: #0096FF;
    text-decoration: none;
}

.login-page-container .login .form .line {
    margin-top: 30px;
    width: 100%;
    height: 3px;
    background: #D9D9D9;
}

@media (max-width: 768px) {
    .login-page-container .image-section {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .login-page-container .login {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        z-index: 1;
    }

    .login-page-container .login .form {
        border-radius: 25px;
        width: 100%;
        padding: 40px;
        background: white;
        margin: 50px;
    }
}

.error-text {
    background-color: #ee8a8a;
    color: #6f0000;
    border-radius: 5px;
    max-width: 60%;
    margin: auto;
    /* margin-top: 2vh; */
}