.drag-drop-container {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
}

.drag-drop-prompt {
    text-align: center;
    font-family: Nunito, serif;
    font-weight: bold;
    font-size: 32px;
}

.drag-drop-horizontal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drag-drop-dragzone {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

.drag-drop-draggable {
    font-family:Nunito, serif;
    background-color: #f5f5f5;
    font-size: 24px;
    border: 2px solid #ddd;
    border-radius: 10px;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.drag-drop-dropzone {
    position: fixed;
    border: 2px dashed #ddd;
    height: 4rem;
    width: 40rem;
    margin: 10rem auto;
}

.drag-drop-button {
    position: fixed;
    margin-top: 32.65%;
    font-family: Nunito, serif;
    font-weight: bold;
    margin-left: 32.9%;
    display: flex;
    flex-direction: column;
    background-color: #7f8fa6;
    color: #fff;
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.drag-drop-button:hover {
    background-color: #57606f;
}

.result-message {
    font-size: 20px;
    bottom: 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.correct-answer {
    background-color: #d1e7dd;
    color: #2c3e50;
}

.incorrect-answer {
    background-color: #f8d7da;
    color: #721c24;
}

.dnd-line{
    border-bottom: 3px solid lightgrey; /* 1px solid grey border on the bottom of the element */
    margin-top: 18.6%;
}
