@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Viga');

* {
  font-family: Nunito, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    width: 100%;
    height: 155vh;
    background-color: #fff;
  }

:root {
    --hover-color: #E4E9F7;
    --theme-color: #0096FF;
    --light-theme-color: #D3ECFD;
    --nav-color: #FFF;
    --text-color: #333;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

.sidebar header {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.sidebar-close header h2 {
    opacity: 0;
}

.sidebar header h2 {
    font-family: Viga, serif;
    font-size: 50px;
    text-align: center;
    color: var(--theme-color);
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--theme-color);
    color: var(--nav-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: var(--tran-05);
    cursor: pointer;
}

.sidebar-close header .toggle{
    transform: translateY(-50%) rotate(0deg);
    transition: var(--tran-05);
}


.sidebar .user-account {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}

.sidebar .user-account a {
    display: flex;
    align-items: center;
}

.sidebar .user-account img {
    height: 70px;
}

.sidebar .user-account span {
    margin-left: 20px;
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    white-space: nowrap;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--nav-color);
    transition: var(--tran-04);
}

.sidebar-close {
    width: 105px;
    transition: var(--tran-04);
}

.sidebar-close .text {
    opacity: 0;
    white-space: nowrap;
}

.sidebar-close li Link {
    display: flex;
}

.sidebar li {
    height: 50px;
    list-style: none;
}

.sidebar ul li:first-child a {
    border: 2px solid var(--theme-color);
    background-color:var(--light-theme-color);
    border-radius: 10px;
}

.sidebar li:hover {
    height: 50px;
    border-radius: 10px;
    background: var(--hover-color);
}

.sidebar li a {
    height: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar li img {
    margin-left: 20px;
    margin-right: 20px;
    width: 35px;
}

.sidebar-close li img {
    position: absolute;
    width: 35px;
}

.sidebar .bottom-section a {
    width: 50%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .bottom-section img {
    height: 20px;
    width: 20px;
}

.sidebar-close .bottom-section {
    display: flex;
    justify-content: center;
}

.sidebar-close .bottom-section img {
    position: absolute;
    height: 20px;
    width: 20px;
}

.sidebar .bottom-section span {
  margin-left: 15px;
}

.sidebar-close .bottom-section span {
  margin-left: 0px;
}

.sidebar .menu-section {
    height: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



  /*.sidebar h2 {
    font-family: Viga, serif;
    font-size: 50px;
    text-align: center;
    color: #0096FF;
  }

  .sidebar .navbar-links ul li{
    border: 2px solid transparent;
    width: 80%;
    height: 60px;
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: Nunito, serif;
    text-align: center;
    padding: 5px;
  }

  .sidebar ul li:hover {
    border: 2px solid #0096FF;
    background-color:#D3ECFD;
    border-radius:20px;
  }

  .sidebar ul li img {
    margin-right: 10px;
    margin-top: 10px;
    width: 50px;
    padding: 10px;
  }

  .account {
    display: flex;
    align-items: center;
    margin-top: 20vh;
    margin-left: 20px;
    font-family: Nunito, serif;
    font-weight: 100;
    font-size: 20px;
    color: #000;
  }

  .account p {
    margin-left: 20px;
  }*/

  .middlepane {
    height: 155vh;
    position: absolute;
    margin-left: 25vw;
    text-align: center;
    width: 50vw;
    background-color: #fff;
  }

  .middlepane .unit1-container {
    position: relative;
    flex-direction: column;
    margin-top: 40px;
  }

  .middlepane .unit2-container {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .middlepane .unit1 {
    width: 80%;
    height: 75px;
    position: relative;
    color: #fff;
    text-align: left;
    align-items: center;
    background-color: #0096FF;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 40px;
  }

  .unit1 h3 {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    font-family: Nunito, serif;
  }

  .resources {
    text-decoration: underline;
    position: absolute;
    margin-top: 30px;
    margin-left: 80%;
    font-family: Nunito, serif;
    font-size: 15px;
  }

  .variables {
    position: absolute;
    margin-top: 45px;
    margin-left: 15px;
    font-family: Nunito, serif;
    font-size: 15px;
  }

  .middlepane .unit1-container .checkpoint1 {
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #0096FF;
    margin-top: 30px;
    margin-left: 35%;
    box-shadow: 3px 3px 8px #858585;
    cursor: pointer;
  }

  .middlepane .unit1-container .checkpoint2 {
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #0096FF;
    margin-top: 30px;
    margin-left: 50%;
    box-shadow: 3px 3px 8px #858585;
    cursor: pointer;
  }

  .middlepane .unit1-container .checkpoint3 {
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #0096FF;
    margin-top: 30px;
    margin-left: 55%;
    box-shadow: 3px 3px 8px #858585;
    cursor: pointer;
  }

  .middlepane .unit1-container .checkpoint4 {
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #0096FF;
    margin-top: 30px;
    margin-left: 40%;
    box-shadow: 3px 3px 8px #858585;
    cursor: pointer;
  }

  .middlepane .unit2 {
    width: 80%;
    height: 75px;
    position: relative;
    color: #fff;
    text-align: left;
    align-items: center;
    background-color: #0ADD08;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 40px;
  }

  .middlepane .unit2 h3 {
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
    font-family: Nunito, serif;
  }

  .operators {
    position: absolute;
    margin-top: 45px;
    margin-left: 15px;
    font-family: Nunito, serif;
    font-size: 15px;
  }


  .middlepane .unit2-container .checkpoint1 {
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #D9D9D9;
    margin-top: 30px;
    margin-left: 35%;
    box-shadow: 3px 3px 8px #858585;
  }

  .middlepane .unit2-container .checkpoint2 {
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #D9D9D9;
    margin-top: 30px;
    margin-left: 50%;
    box-shadow: 3px 3px 8px #858585;
  }

  .middlepane .unit2-container .checkpoint3 {
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #D9D9D9;
    margin-top: 30px;
    margin-left: 55%;
    box-shadow: 3px 3px 8px #858585;
  }

  .middlepane .unit2-container .checkpoint4 {
    border-radius: 10px;
    text-align: center;
    height: 70px;
    width: 70px;
    background-color: #D9D9D9;
    margin-top: 30px;
    margin-left: 40%;
    box-shadow: 3px 3px 8px #858585;
  }

  .rightpane {
    position: fixed;
    margin-left: 75%;
    width: 25%;
    height: 100vh;
    background-color: #fff;
  }

  .rightpane .test {
    border: 2px solid #d9d9d9;
  }

  .rightpane .daily-challenges {
    font-family: Nunito, serif;
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
  }

  .rightpane .daily-challenges h3 {
    text-align: left;
    margin-top: 5px;
    margin-left: 10px;
  }

  .rightpane .daily-challenges h4 {
    text-align: center;
  }

  .rightpane .daily-challenges .coin-img {
    margin-top: -10px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  .rightpane .daily-challenges .progress-bar {
    margin-top: -20px;
    position:initial;
    margin-left: 20%;
    display: flex;
  }

  .rightpane .daily-challenges .progress-bar div {
    margin-top: 7px;
    border-radius: 5px;
    color:#000;
    text-align: center;
    align-items: center;
    width: 200px;
    height: 20px;
    border: 1px solid #0096FF;
  }

  .rightpane .language {
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
  }

  .language-dropdown value {
    margin-left: 10px;
    font-family: Nunito, serif;
    text-align: center;
    width: 100px;
    color: #fff;
    background: #0096FF;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
  }

  .language-name {
    margin-left: 10px;
    font-family: Nunito, serif;
    text-align: center;
    width: 100px;
    color: #fff;
    background: #0096FF;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
  }

  .middlepane {
    font-size: 20px;
  }


  body {
    margin: 0!important;
  }

  .d-flex {
    display: flex;
  }

/*.language-dropdown {
    margin-top: 40px;
}

.language-dropdown select {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-family: Nunito, serif;
}*/

/*.daily-challenge {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.daily-challenge p {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    font-family: Nunito, serif;
}*/

/*.progress-bar {*/
/*    width: 200px;*/
/*    height: 10px;*/
/*    background-color: #e8e8e8;*/
/*    border-radius: 5px;*/
/*    position: relative;*/
/*}*/

/*.progress {*/
/*    height: 100%;*/
/*    border-radius: 5px;*/
/*    background-color: #40b9ff;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/
