@import url('https://fonts.googleapis.com/css?family=Nunito');

.multiple-choice-container {
    margin: 20px;
}

.multiple-choice-prompt {
    text-align: center;
    font-family: Nunito, serif;
    font-weight: bold;
    font-size: 32px;
    white-space: nowrap;
    margin-bottom: 10px;
}

.multiple-choice-options {
    margin-top: 3%;
    margin-bottom: 4%;
    margin-left: 30%;
    max-width: 40%;
    font-family: Nunito, serif;
    font-size: 22px;
}

.multiple-choice-label {
    text-align: center;
    display: block;
    padding: 10px;
    border: 3px solid lightgrey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 5%;
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.multiple-choice-label:hover {
    border: 2px solid #0096FF;
    background-color: #f5f5f5;
}

.multiple-choice-label:checked{
    border: 2px solid #0096FF;
}

.multiple-choice-input {
    display: none;
}

.multiple-choice-validation {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.multiple-choice-correct {
    background-color: #d1e7dd;
    color: #2c3e50;
}

.multiple-choice-incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

.multiple-choice-button {
    margin-top: 4.5%;
    font-family: Nunito, serif;
    font-weight: bold;
    margin-left: 60.3%;
    display: flex;
    flex-direction: column;
    background-color: #7f8fa6;
    color: #fff;
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.multiple-choice-button:hover {
    background-color: #57606f;
}

.result-message {
    font-size: 20px;
    position: fixed;
    bottom: 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.correct-answer {
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: #d1e7dd;
    color: #2c3e50;
}

.incorrect-answer {
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: #f8d7da;
    color: #721c24;
}

.mc-line{
    border-bottom: 3px solid lightgrey; /* 1px solid grey border on the bottom of the element */
    margin-top: 5.2%;
    width: 100%;
}