@import url('https://fonts.googleapis.com/css?family=Nunito');

.multiple-choice-container {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0%);
}

.multiple-choice-prompt {
    text-align: center;
    font-family: Nunito, serif;
    font-weight: bold;
    font-size: 32px;
    min-width: 900px;
}

.multiple-choice-options {
    margin-top: 7%;
    margin-left: 15%;
    max-width: 70%;
    font-family: Nunito, serif;
    font-size: 22px;
}

.multiple-choice-label {
    text-align: center;
    display: block;
    padding: 10px;
    border: 3px solid lightgrey;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 5%;
    font-size: 24px;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.multiple-choice-label:hover {
    border: 3px solid #5bb5f8;
    background-color: #f5f5f5;
}


.multiple-choice-input {
    display: none;
}

.multiplechoice-option {
    visibility: hidden;
}

.multiple-choice-validation {
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.multiple-choice-correct {
    background-color: #d1e7dd;
    color: #2c3e50;
}

.multiple-choice-incorrect {
    background-color: #f8d7da;
    color: #721c24;
}

.result-message {
    font-size: 20px;
    position: fixed;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.correct-answer {
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: #d1e7dd;
    color: #2c3e50;
}

.incorrect-answer {
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: #f8d7da;
    color: #721c24;
}

@media (max-width: 1440px){
    .multiple-choice-prompt {
        font-family: Nunito,serif;
        font-size: 24px;
        font-weight: 700;
        min-width: 800px;
        text-align: center;
    }

    .multiple-choice-options {
        font-family: Nunito,serif;
        font-size: 22px;
        margin-left: 15%;
        margin-top: 4%;
        max-width: 70%;
    }

    .multiple-choice-label {
        background-color: #fff;
        border: 3px solid #d3d3d3;
        border-radius: 10px;
        box-shadow: 0 1px 4px rgba(0,0,0,.16);
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        font-size: 20px;
        margin-bottom: 3%;
        padding: 10px;
        text-align: center;
        transition: background-color .2s;
        width: 100%;
    }
}