.question-header {
    margin-top: 2%;
    padding-left: 125px;
    padding-right: 125px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.question-footer {
    width: 100%;
    height: 100px;
}

.btn {
    margin-left: 10px;
    margin-right: 10px;
}