.page {
    width: 100%;
    height: 100%;
}

.question-header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-content {
    width: 100%;
}


.question-submit{
    margin-top: 16%;
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: #0096FF;
    color: #fff;
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.question-submit:hover {
    background-color: #0062ff;
}

.question-next{
    margin-top: 16%;
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: white;
    color: #0096FF;
    padding: 15px 70px;
    border: 3px solid #0096FF;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.question-next:hover {
    background-color: #5bb5f8;
}


.question-solution {
    margin-top: 16%;
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: white;
    color: #0096FF;
    padding: 15px 70px;
    border: 3px solid #0096FF;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.question-solution:hover {
    background-color: #5bb5f8;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 40%;
}

.question-close{
    padding: 0;
    border: none;
    background: 0;
    cursor: pointer;
}

.popup {
    bottom: 22%;
    font-family: Nunito,serif;
    font-size: 24px;
    font-weight: 700;
    height: 3%;
    right: 27%;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 9999;
}


.question-footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 100px;
    width: 100%;
    height: 200px;
}

.question-complete{
    margin-top: 36%;
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: white;
    color: #0096FF;
    padding: 15px 70px;
    height: 82px;
    border: 3px solid #0096FF;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.question-complete:hover {
    background-color: #5bb5f8;
}

.fixed-hr {
    background: lightgrey;
    height: 3px;
    border: none;
    width: 100%;
    position: fixed;
    left: 0;
    transform: translateY(1900%);
    z-index: 9999;
}

.mg-sm {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 1280px) {
    .question-footer {
        bottom: 50px;
        display: flex;
        height: 200px;
        justify-content: center;
        position: absolute;
        width: 100%;
    }

    .fixed-hr{
        background: #d3d3d3;
        border: none;
        height: 3px;
        left: 0;
        position: fixed;
        transform: translateY(2500%);
        width: 100%;
        z-index: 9999;
    }

    .button-group {
        display: flex;
        gap: 20%;
        justify-content: center;
    }

    .question-complete {
        background-color: #fff;
        border: 3px solid #0096ff;
        border-radius: 10px;
        color: #0096ff;
        cursor: pointer;
        font-family: Nunito,serif;
        font-size: 32px;
        font-weight: 700;
        height: 82px;
        margin-top: 40%;
        padding: 15px 70px;
        transition: background-color .2s;
    }

    .popup {
        bottom: 20%;
        font-size: 20px;
        height: 3%;
        padding: 20px;
        position: fixed;
        right: 30%;
        text-align: center;
        width: 100%;
        z-index: 9999;
    }

}

@media (min-width: 1281px) and (max-width: 1440px) {
    .question-footer {
        bottom: 8%;
        display: flex;
        height: 200px;
        justify-content: center;
        position: absolute;
        width: 100%;
    }

    .popup {
        bottom: 19.5%;
        font-family: Nunito,serif;
        font-size: 20px;
        font-weight: 700;
        height: 3%;
        right: 36%;
        padding: 20px;
        position: fixed;
        text-align: center;
        width: 100%;
        z-index: 9999;
    }
}