.page {
    width: 100%;
    height: 100%;
}

.question-header {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.question-content {
    width: 100%;
}

.question-footer {
    position: absolute;
    bottom: 70px;
    width: 100%;
    height: 200px;
}

.question-submit{
    margin-top: 4%;
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: #0096FF;
    color: #fff;
    padding: 15px 70px;
    border: none;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.question-submit:hover {
    background-color: #0062ff;
}

.question-next{
    margin-top: 4%;
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: white;
    color: #0096FF;
    padding: 15px 70px;
    border: 3px solid #0096FF;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.question-next:hover {
    background-color: #5bb5f8;
}


.question-solution {
    margin-top: 4%;
    font-family: Nunito, serif;
    font-weight: bold;
    background-color: white;
    color: #0096FF;
    padding: 15px 70px;
    border: 3px solid #0096FF;
    border-radius: 10px;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.question-solution:hover {
    background-color: #5bb5f8;
}

.button-group {
    margin-left: 15%;
    display: flex;
    gap: 20%;
}

.question-close{
    padding: 0;
    border: none;
    background: 0;
    cursor: pointer;
}

.popup {
    font-family: Nunito, serif;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    position: fixed;
    bottom: 17%;
    left: 11%;
    width: 20%;
    height: 5%;
    z-index: 9999;
    padding: 20px;
}

.mg-sm {
    margin-left: 10px;
    margin-right: 10px;
}