<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="signup.css">
    <title>DuoCode</title>
</head>
<body>
    <div class = "login-page-container">
        <div id="title-section">
            <div id="content-text">
                <h1 id="title">DuoCode</h1>
                <div id="info">
                    DuoCode makes learning code more fun and accessible than ever. It caters to a diverse range of skill levels and needs. <a href="/signup">Start learning today</a>!

                    <h2>How-to</h2>
                    <a href="/signup">Sign up</a> or <a href="/login">Sign in</a> to get started! For a detailed user guide, please visit the <a href="/help" target="_blank" rel="noopener noreferrer">Help</a> page.<br>
    
                    <h2>Issues</h2>
                    Found a bug?! Please make an <a href="https://github.com/winstonbullen/DuoCode/issues/new/choose" target="_blank" rel="noopener noreferrer">issue</a> in the public Git <a href="https://github.com/winstonbullen/DuoCode" target="_blank" rel="noopener noreferrer">repository</a> using the bug report template.
                </div>
            </div>
        </div>
        <div class = "login">
            <div class = "form">
                <h1>Log In</h1>
                <form action="/login" method="post" class="form-container">
                    <div class="input">
                        <input type="text" required="required" name="name" autocomplete="off" class="form-input"/>
                        <span>Username</span>
                    </div>
                    <div class="input">
                        <input type="password" required="required" id="password" name="password" autocomplete="off" class="form-input"/>
                        <span>Password</span>
                    </div>
                    <div class="input">
                        <input type="submit" value="Login" class="form-submit" />
                    </div>
                </form>
                <% if (error){ %>
                <div class="error-text">Login Failed</div>
                <%}%>
                <div class="line"></div>
                <div class="input">
                    <p>Don't have an account yet?</p>
                    <a href="/signup">Create an account</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>