<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="signup.css">
    <title>DuoCode</title>
</head>
<body>
    <div class = "login-page-container">
        <div class="image-section">
            <img src="./images/coder.svg" alt="coder">
        </div>
        <div class = "login">
            <div class = "form">
                <h1>Create an Account</h1>
                <form action="/signup" method="post" class="form-container" onsubmit="return meetsRequirements()">
                    <div class="input">
                        <input type="text" required="required" id="username" name="name" autocomplete="off" class="form-input" onkeyup="return colorUsernameRequirements()"/>
                        <span>Username</span>
                    </div>
                    <div class="input">
                        <input type="password" required="required" id="password" name="password" autocomplete="off" class="form-input" onkeyup="return colorPasswordRequirements()"/>
                        <span>Password</span>
                    </div>
                    <div class="valid-reqs ">
                        <strong>Username Requirements</strong>
                        <ul>
                            <li id="username-length">Must be 4-20 characters</li>
                        </ul>
                        <strong>Password Requirements</strong>
                        <ul>
                            <li id="upper">At least one uppercase</li>
                            <li id="lower">At least one lowercase</li>
                            <li id="special-char">At least one special symbol</li>
                            <li id="number">At least one number</li>
                            <li id="length">At least 8 characters</li>
                        </ul>
                    </div>
                    <div class="input">
                        <input type="submit" value="Sign Up" class="form-submit" />
                    </div>
                </form>
                <% if (error){ %>
                <div class="error-text">Username Already Taken</div>
                <%}%>
                <div class="line">
                </div>
                <div class="input">
                    <p>Already have an account?</p>
                    <a href="/login">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        /**
         * Returns true if all username and password requirements are met, false otherwise.
         */
        function meetsRequirements() {
            var username = document.getElementById("username");
            var pass = document.getElementById("password");

            var username_valid = username.value.length >= 4 && username.value.length <= 20;
            var pass_valid = /[A-Z]/.test(pass.value) && /[a-z]/.test(pass.value) && /[!\@\#\$\%\^\&\*\(\)\_\-\+\=\?\>\<\.\,]/.test(pass.value) && /[0-9]/.test(pass.value) && pass.value.length >= 8;
            return username_valid && pass_valid;
        }

        /**
         * For every requirement, sets the username requirement text to green if it is met, red otherwise.
         */
        function colorUsernameRequirements() {
            var username = document.getElementById("username");
            var username_length = document.getElementById("username-length");

            // check for length
            username_length.style.color = username.value.length >= 4 && username.value.length <= 20 ? "green" : "red";
        }

        /**
         * For every requirement, sets the password requirement text to green if it is met, red otherwise.
         */
        function colorPasswordRequirements() {
            var pass = document.getElementById("password");
            var upper = document.getElementById("upper");
            var lower = document.getElementById("lower");
            var num = document.getElementById("number");
            var length = document.getElementById("length");
            var sp_ch = document.getElementById("special-char");

            // check for uppercase
            upper.style.color = /[A-Z]/.test(pass.value) ? "green" : "red";

            // check for lowercase
            lower.style.color = /[a-z]/.test(pass.value) ? "green" : "red";

            // check for special characters
            sp_ch.style.color = /[!\@\#\$\%\^\&\*\(\)\_\-\+\=\?\>\<\.\,]/.test(pass.value) ? "green" : "red";
            
            // check for number
            num.style.color = /[0-9]/.test(pass.value) ? "green" : "red";

            // check for length
            length.style.color = pass.value.length >= 8 ? "green" : "red";
        }
    </script>
</body>
</html>