<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="signup.css">
    <title>Document</title>
</head>
<body>
    <div class = "login-page-container">
        <div class="image-section">
            <img src="./images/coder.svg" alt="coder">
        </div>
        <div class = "login">
            <div class = "form">
                <h1>Create an Account</h1>
                <form action="/signup" method="post" class="form-container" onsubmit="return validate()">
                    <div class="input">
                        <input type="text" required="required" name="name" class="form-input"/>
                        <span>Username</span>
                    </div>
                    <div class="input">
                        <input type="password" required="required" id="password" name="password" autocomplete="off" class="form-input" onkeyup="return checkPass()"/>
                        <span>Password</span>
                    </div>
                    <div class="valid-reqs ">
                        <ul>
                            <li id="upper">At least one uppercase</li>
                            <li id="lower">At least one lowercase</li>
                            <li id="special_char">At least one special symbol</li>
                            <li id="number">At least one number</li>
                            <li id="length">At least 8 characters</li>
                        </ul>
                    </div>
                    <div class="input">
                        <input type="submit" value="Sign Up" class="form-submit" />
                    </div>
                </form>
                <% if (error){ %>
                <div class="error-text">Username Already Taken</div>
                <%}%>
                <div class="line">
                </div>
                <div class="input">
                    <p>Already have an account?</p>
                    <a href="/login">Log In</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        function validate() {
            var pass = document.getElementById("password");
            var upper = document.getElementById("upper");
            var lower = document.getElementById("lower");
            var num = document.getElementById("number");
            var length = document.getElementById("length");
            var sp_ch = document.getElementById("special_char");

            if (pass.value.length  < 8){
                return false;
            } else if (!pass.value.match(/[0-9]/)){
                return false;
            } else if (!pass.value.match(/[A-Z]/)){
                return false;
            } else if (!pass.value.match(/[a-z]/)){
                return false;
            } else if (!pass.value.match(/[!\@\#\$\%\^\&\*\(\)\_\-\+\=\?\>\<\.\,]/)){
                return false;
            } else {
                return true;
            }
        }

        function checkPass() {
            var pass = document.getElementById("password");
            var upper = document.getElementById("upper");
            var lower = document.getElementById("lower");
            var num = document.getElementById("number");
            var length = document.getElementById("length");
            var sp_ch = document.getElementById("special_char");
            
            // check for number
            if (pass.value.match(/[0-9]/)){
                num.style.color = "green"
            } else {
                num.style.color = "red"
            }

            // check for uppercase
            if (pass.value.match(/[A-Z]/)){
                upper.style.color = "green"
            } else {
                upper.style.color = "red"
            }

            // check for lowercase
            if (pass.value.match(/[a-z]/)){
                lower.style.color = "green"
            } else {
                lower.style.color = "red"
            }

            // check for special characters
            if (pass.value.match(/[!\@\#\$\%\^\&\*\(\)\_\-\+\=\?\>\<\.\,]/)){
                sp_ch.style.color = "green"
            } else {
                sp_ch.style.color = "red"
            }

            // check for length
            if (pass.value.length >= 8){
                length.style.color = "green"
            } else {
                length.style.color = "red"
            }
        }
    </script>
</body>
</html>